:root
{
  --header-font: 'Oswald', sans-serif;
}

body
{
	font-family: var(--header-font);
	font-size: 16px;
}

.header
{
	min-height: 300px;
	.content
	{
		line-height: 3;
		vertical-align: middle;
		min-height: 300px;
		font-family: var(--header-font);
	}

	.main
	{
		font-size: 80px;
		min-width: 800px;
		text-align: center;
		text-transform: uppercase;
		font-family: var(--header-font);
	}
}
